streamlit
langchain
langchain-community
langchain-text-splitters
langchain-openai
langgraph

neo4j
numpy
pydantic
pydantic-settings
python-dotenv
certifi

docx2txt
pypdf
pymupdf

pytesseract
Pillow

pytest
